// fonts
$font-family-1: 'Roboto', sans-serif;
$font-family-2: 'Open Sans', sans-serif;

// text-color
$text-color-1: #ffffff;
$text-color-2: #111111;
$text-color-3: #ffffffbf;
$text-color-4: #47bcd4;
$text-color-5: #5e76bf;

// background colors
$bg-color-1: #000000;
$bg-color-2: #272833;
$bg-color-3: #e44c65;
$bg-color-4: #171820f2;
$bg-color-5: #5480f1;
$bg-color-6: #39c088;

// breakpoints

$max-width: 1140px;

$xs: 420px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
