.card {
  position: relative;
  min-width: 280px;
  min-height: 250px;
  max-width: 350px;
  max-height: 320px;
  background-color: $bg-color-2;
  color: $text-color-3;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 1px solid $text-color-3;

  .card_img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
    // object-fit: cover;
  }

  .card_content {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card_title {
      font-size: 1.3rem;
    }

    .card_description {
      font-size: 0.8rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .card_tag {
    color: $text-color-1;
    background-color: $bg-color-3;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    padding: 0.3rem;
    border-radius: 1rem;
    top: .5rem;
    right: .5rem;
  }
}
