.gallery {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;


    .main-img {
        object-fit: cover;
        line-height: 0;
        height: 70%;
        img {
            max-width: 100%;
        }
    }

    .thumbnail {
        height: 30%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // border: 3px solid transparent;
        // gap: 3px;
        
        img {
            width: 100%;
            cursor: pointer;
            // border: 2px solid transparent;
        }

        .active {
            border: 4px solid $bg-color-3;
        }

        .no-active {
            border: 4px solid transparent;
        }
    }

}