.gallery {
    max-width: 600px;
    display: grid;
    margin: 0 auto;
    padding: 1rem;


    .main-img {
        object-fit: cover;
        line-height: 0;
        img {
            max-width: 100%;
        }
    }

    .thumbnail {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        img {
            width: 100%;
            cursor: pointer;
            border: 2px solid transparent;
        }

        .active {
            border: 2px solid $bg-color-3;
        }
    }

}