.container_home {
  width: 100%;
  background-color: $bg-color-8;
  color: $text-color-3;

  .home_wrapper {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .title {
      text-align: start;
      padding: 2rem 0;
      h1 {
        border-left: 5px solid $bg-color-7;
        text-indent: 20px;
        @media screen and (max-width: $sm) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
